<%- include('layouts/header') %>
<%- include('layouts/nav') %>

<div class="container mt-3">
    <div class="row">
        <div class="col-md-"></div>
            <h2>Detail</h2>
                <% if (contacts !== undefined) { %>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                    <h5 class="card-title"><%= contacts.nama %> </h5>
                    <h6 class="card-subtitle mb-2 text-muted"> <%= contacts.noHP %></h6>
                    <p class="card-text"><%= contacts.email %></p>
                    <a href="/contact/edit/<%= contacts.noHP %>" class="btn btn-info badge"> edit </a>
                    <a href="/contact/delete/<%= contacts.noHP %>" class="btn btn-danger badge" onclick="return confirm('are you sure?');"> delete </a>
                    <!-- on click untuk konfirmasi -->
                    <a href="/contact" class="card-link d-block mt-3">&laquo; back to list contact</a>
                    
                    </div>
                </div>
                <% } else { %>
                    <div class="alert alert-danger" role="alert">
                        <h2>404: No HP not found</h2>
                    </div>
                    <a href="/contact" class="card-link">&laquo; back to list contact</a>
                <% } %>
    </div>
</div>